body {
    width: 100%;
    height: 100%;
    background: linear-gradient(130deg, #2c2c2c, #2a2a2a);
    display: flex;
    align-items: center;
}

.text:hover {
    color: maroon;
    font-size: 40px;
    -webkit-animation: ease-in;
    -webkit-animation-duration: 2s;

}
.text {
    color: bisque;
    font-size: 20px;
    -webkit-animation: ease-in;
    -webkit-animation-duration: 2s;

}